
<div class="container">
  <div class="row">
    <div class="col-md-4"
      <%= simple_format_no_tags(@home_about.content, {}, {sanitize: false}) %>
    </div>
    <div class="col-md-8"
      <%= simple_format_no_tags(@home_about.content, {}, {sanitize: false}) %>
    </div>
  </div><!-- row -->
</div><!-- container -->
