// Place all the styles related to the Reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.page-header h1 {
  display: inline;
}
.page-header .btn {
    float: right;
}

#actors fieldset.inputs {
  background-color: #aaa;
  padding: 10px;
  margin: 10px 0 10px 0;
  border-radius: 5px;
}

#actors .links {
  margin: 10px 0 10px 0;
}

#report_actors_attributes_0_dob_1i { width: 20% }
#report_actors_attributes_0_dob_2i { width: 25% }
#report_actors_attributes_0_dob_3i { width: 15% }

// Fix background-color
.date_select label {
  display: block;
}

.date_select .form-control {
  display: inline;
}
