#root {
position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  h2 {
    font-size: 4em;
    font-weight: 900;
  }

  p {
    font-size: 3.0em;
    line-height: 1.2em;
  }


}
